/* New nav w/ functionality */
.nav-container {
    height: 72px;
    background: #7EAF4E;
    border-radius: 0px 0px 20px 20px;
    position:sticky;
    top: 0;
    /* box-shadow: 0px 0px 3px 3px rgb(0 0 0 / 25%); */
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-menu li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
} 
.nav-item {
    margin-left: 5rem;
    
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #F0EDF2;
}

.nav-link:hover{
    color: #0D0A0B;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #F0EDF2;
}
.hamburger{
    display: none;
}
.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #F0EDF2;
}
@media only screen and (max-width: 1000px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #7EAF4E;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .nav-item a {
        color: #F0EDF2;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }
    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}