@import "nav.css";

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
    background: #C4C4C4;
}

.top-header {
    color: #3F7D20;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    padding-top: 30px;
}

.title-box {
    height: 40px;
    width: 900px;
    background: white;
    border:3px solid black;
    margin: auto;
    margin-top: 40px;
    padding-left: 20px;
    padding-top: 7px;
    color: grey;
}

.component {
    list-style: none;
    display: flex;
    padding-top: 40px;
}

.comp-header {
    font-weight: bold;
    padding-left: 265px;
    font-size: 20px;
}

.comp-img {
    height: 40px;
    padding-left: 80px;
}

.difficulty-container {
    display: flex;
    list-style: none;
    padding-top: 40px;
}

.diff-header {
    font-weight: bold;
    font-size: 20px;
    padding-left: 265px;
    padding-right: 160px;
    padding-top: 10px;
}

.easy {
    background: #96CA4D;
    font-weight: bold;
    padding: 15px;
    border-radius: 40px;
    margin-right: 30px;
}

.easy:hover {
    color: white;
}

.medium {
    background-color: #F9C920;
    font-weight: bold;
    padding: 15px;
    border-radius: 40px;
    margin-right: 30px;
}
.medium:hover {
    color: white;
}

.hard {
    background-color:  #F92020;
    font-weight: bold;
    padding: 15px;
    border-radius: 40px;
}
.hard:hover {
    color: white;
}

.supplies-header {
    font-size: 20px;
    font-weight: bold;
    padding-left: 305px;
    padding-top: 40px;
}

.supplies-box {
    width: 700px;
    height: 200px;
    background-color: white;
    border: 3px solid black;
    margin-left: 345px;
    margin-top: 20px;
    overflow-y: scroll;
}

.bullet {
    width: 15px;
    margin-left: 10px;
    margin-top: 10px;
}

.addition {
    width: 15px;
    margin-left: 10px;
}

.dir-header {
    font-size: 20px;
    font-weight: bold;
    padding-left: 310px;
    padding-top: 50px; 
}

.directions-box {
    width: 700px;
    height: 300px;
    background-color: white;
    border: 3px solid black;
    margin-left: 345px;
    margin-top: 20px;
    overflow-y: scroll;
}

.post-bttn {
    font-size: 20px;
    font-weight: bold;
    text-decoration:none;
    border-radius: 70px;
    background-color: #3F7D20;
    color: white;
    padding: 20px;
}