@import "nav.css";

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", sans-serif;
}

.profile-container {
    background-color: #D3E2C4;
    margin: 20px 20px 20px 20px;
    display: flex;
    justify-content: space-evenly;
    border-radius: 30px;
}

.profile-pic {
    height: 300px;
    padding: 20px;
    border-radius: 50px;
}

.caption {
    list-style: none;
}

.name {
    font-weight: bold;
    font-size: 50px;
    padding-top: 20px;
}

.username {
    font-size: 35px;
    color: #454955;
    padding-top: 10px;
    padding-bottom: 20px;
}

.title {
    color: #3F3D3D;
    font-weight: bold;
    font-size: 35px;
    padding-top: 20px;
}

.verified {
    height: 40px;
    padding-right: 20px;
    margin-top: 20px;
}

.profile-choices {
    display: flex;
    list-style: none;
    align-content: flex-start;
   
}
.per-proj {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#E3E0E0;
    border-style: solid;
}

.per-proj:hover {
    color: grey;   
}

.post-button {
    background-color: green;
    font-weight: bold;
    padding: 20px 10px 20px 100px;
    margin-right: 1100px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 70px;
    border-radius: 100px;
    transition: transform .3s ease-in-out;
}
.post {
    color: white;
    text-decoration: none;
}

.post-button:hover {
    transform:translateY(-5px);
}

.contact {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#E3E0E0;
    border-style: solid;
}

.contact:hover {
    color: grey;   
}

.certif {
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color:#E3E0E0;
    border-style: solid;
}

.certif:hover {
    color: grey;  
}

.pp-box {
    background-color:#E3E0E0;

    border-style: solid;
    margin-left: 40px;
    margin-right: 100px;
    overflow-y: scroll;
    height: 400px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 50px;
}

.dif-proj-1 {
    display: flex;
    list-style: none;
    margin-top: 20px;
}

.dif-proj-2 {
    display: flex;
    list-style: none;
    margin-top: 20px;
}

.proj-1 {
    height: 250px;
    margin-right: 20px;
}
.proj-2 {
    height: 210px;

}
.proj-3 {
    height: 210px;
    margin-right: 20px;
}
.proj-4 {
    height: 250px;
    margin-bottom: 20px;
}

.name-1 {
    margin-left: 20px;
    padding-top: 20px;
    margin-right: 20px;
    color: black;
    text-decoration: none;  
}
.name-1:hover {
    color: green;
}
.name-2 {
    margin-left: 20px;
    margin-top: 20px;
}

.name-2:hover {
    color: green;
}
.name-3 {
    margin-top: 20px;
    margin-right: 20px;
}

.name-3:hover {
    color: green;
}
.name-4 {
    margin-left: 20px;
    margin-top: 20px;
}

.name-4:hover {
    color: green;
}

.description {
    font-weight:normal;
    font-size: 15px;
    margin-top: 70px;
}