.snav-item a{
    text-decoration: none;
    color: var(--offwhite);
}
.snav-link:hover{
    color: var(--lightgreen);
}
.mini-snav-link:hover{
    color: var(--lightgreen);
}
.snav-item{
    list-style: none;
    margin-top:1em;
}
.safetyWrap{
    margin-top: 20px;
    display:flex;
    /* align-items: center; */

}
.safetyContent{
    flex:5;
    /* margin-left: 5vw; */
    padding: 0px 20px 200px 20px;
    /* background-color: rgb(126,193,31,0.7); */
    /* background-color: rgb(55,93,48, 0.75); */
    background-color: #96CA4D;
    color: var(--offwhite);
    /* border-radius: 50px; */
    /* box-shadow: 1em 1em 2em  var(--offwhite) inset; */
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
}
.safetyNav{
    padding: 20px 20px 20px 20px;
    flex:2;
    /* align-self: right; */
    /* margin-right: 5vw;
    border-radius: 50px; */
    background-color: rgb(13,10,11,0.5);
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);
    
}
.safetyContent p{
    margin-left: 1em;
    margin-top: 1em;
}
.safetyContent h1{
    margin-top: 2em;
    margin-left: .5em;
    
}
.safetyContent h3{
    margin-top: 1em;
    margin-left: 3em;
}


/* Safety Basics */
.s-basic-Wrap{
    margin-top: 20px;
    display:flex;
}
.s-basic-content{
    flex:5;
    padding: 0px 20px 200px 100px;
    background-color: #96CA4D;
    color: var(--offwhite);
    box-shadow: inset 0px 4px 4px rgb(0 0 0 / 25%);

}

.course-bar{
    margin-top: 20px;
    display:flex;
    background-color: #1A1A1B;
    padding: 10px 10px 10px 10px;
    border: 3px solid var(--offwhite);
    border-radius: 20px;
}
.course-content{
    align-self: center;
}
.course-name{
    font-size: large;
    margin-left: 10px;
    margin-bottom: 5px;
}
.course-desc{
    font-size: small;
}
.s-basic-content h1{
    margin: 20px 10px 20px 30px;
}